<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/styles/newlogin.css" rel="stylesheet" />
    <title>Login Page</title>
</head>

<body>
    <div class ="container" id="container">
        <div class="form-container log-in-container">
            <form method="POST" action="">
                <h1> Login</h1>
                <p>
                    <h4 style="font-size: 10px; margin:0px;">For Debugging: Admin Account</h4>
                    <h4 style="font-size: 10px; margin: 0px;">User: billnye@gmail.com    Password:nickm5944</h4>   
                </p>
                {{ form.hidden_tag() }}
                <h3 style="font-size:16px;">Please enter a valid email address:
                    {{ form.user_email }}</h3>
                <h3 style="font-size:16px;">Enter a valid password (9 to 30 characters):
                    {{ form.user_password}}</h3>
                <a style="font-size:12px; margin: 6px;" href="{{url_for('register')}}">Don't have an account? Sign up here</a>
                <div class="button">
                    {{ form.submit }}
                </div>
                {% for error in form.user_email.errors %} <p style="color: blue" ,style="font-size:400%" ;> <b>
                        {{error}} </b></p> {% endfor %}
                {% if error %}
                <p style="color: blue" ,style="font-size:400%" ;> <b><strong>Login Error:</strong>
                        {{ error }} </b></p>
                {% endif %}
            </form>
        </div>
        <div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-right">
                    <img src="static/images/title_picture_bobcat_bites.jpg" alt="dining image" width=900px;>
				</div>
			</div>
		</div>
    </div>
</body>
<!-- <body>
    <center>
        <div class="white-box">
            <h1> <b> Bobcat Bites: Login</b></h1>
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <h3>Please enter a valid email address:
                    {{ form.user_email }}</h3>
                <h3>Enter a password (9 to 30 characters)
                    {{ form.user_password}}</h3>
                {{ form.submit }}
                {% for error in form.user_email.errors %} <p style="color: blue" ,style="font-size:400%" ;> <b>
                        {{error}} </b></p> {% endfor %}
                {% if error %}
                <p style="color: blue" ,style="font-size:400%" ;> <b><strong>Login Error:</strong>
                        {{ error }} </b></p>
                {% endif %}
            </form>
            <p>
                <h4>For Debugging: Admin Account</h4>
                <h4>User: billnye@gmail.com    Password:nickm5944</h4>   
            </p>
            <h3> Don't have an account? Sign up here</h3>
            <a href="{{url_for('register')}}">Register Page</a><br>
        </div>
    </center>
</body>
-->
</html>