h1 {
  color: #8D734A;
}

a:link{
  color: lightblue
}

a:visited{
  color: cornflowerblue
}

h3 {
  color: white;
}

h4 {
  color: rgb(33, 151, 33)
}

p {
  font-family: 'Lucida Sans';
}

.white-box {
  background-color: #501214;
  color: black;
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

body {

  background-image: url("/static/images/texasstatestatue.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}